.profile {
	height: 100vh;
	width: 100vw;
	color: white;
}
.profile_body {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	padding: 5rem 0;
	max-width: 800px;
}
.profile_info {
	display: flex;
	justify-content: center;
}
.profile_body > h1 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 2rem;
	border-bottom: 1px solid #282c2d;
}
.profile_info > img {
	height: 5rem;
}
.profile_details {
	margin-left: 2rem;
	color: white;
	flex: 1;
}
.profile_details > h2 {
	padding: 15px 20px;
	background-color: grey;
	font-size: 1rem;
}
.profile_logout {
	padding: 10px 20px;
	font-size: 1rem;
	margin-top: 5%;
	width: 100%;
	color: white;
	background-color: red;
	cursor: pointer;
	border: none;
	border-radius: 0.3rem;
}
.profile_plans {
	margin-top: 20px;
}
.profile_plans > h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #282c2d;
}
@media only screen and (max-width: 900px) {
	.profile_body {
		padding: none;
		padding-top: 5.5rem;
	}
}
