.plan {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	opacity: 0.8;
}
.plan:hover {
	opacity: 1;
}
.plan > button {
	padding: 10px 20px;
	color: white;
	background-color: red;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
}
.plan--disabled > button {
	background-color: grey !important;
	opacity: 1;
}
@media only screen and (max-width: 900px) {
	.plan {
		padding: 0.6rem;
		flex-direction: column;
	}

	.plan > button {
		width: 100%;
	}
}
