.loginScreen {
	position: relative;
	height: 100%;
	background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") center
		no-repeat;
	background-size: cover;
}
.loginScreen_logo {
	position: fixed;
	left: 0;
	width: 10rem;
	padding: 10px 20px;
}
.loginScreen_log_button {
	position: fixed;
	right: 20px;
	top: 20px;
	border-radius: 0.3rem;
	padding: 10px 20px;
	background-color: red;
	color: white;
	cursor: pointer;
}
.loginScreen_gradient {
	width: 100%;
	height: 100vh;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8) 0,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.8) 100%
	);
}
.loginScreen_body {
	width: 100%;
	position: absolute;
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	color: white;
	text-align: center;
	padding: 20px;
	left: 0;
	right: 0;
}
.loginScreen_body > h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}
.loginScreen_body > h2 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.loginScreen_body > h3 {
	font-size: 1rem;
	font-weight: 100;
}
.loginScreen_form {
	margin: 1rem;
}

.loginScreen_form > form > input {
	padding: 10px;
	outline-width: 0;
	height: 30px;
	width: 25%;
	max-width: 600px;
	border: none;
}
button.loginScreen_starter {
	color: white;
	height: 30px;
	background-color: red;
	border: none;
	outline-width: 0;
	min-width: 12%;
	cursor: pointer;
	font-weight: bold;
}
@media only screen and (max-width: 800px) {
	.loginScreen_form > form > input {
		min-width: 50%;
	}
	.loginScreen_body {
		top: 20%;
	}
}
